{% extends sonata_block.templates.block_base %}

{% block block %}
    <header class="intro-header" style="background-image: url({{ settings.image }})">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>{{ settings.title }}</h1>
                        {% if settings.subtitle|length > 0 %}
                            <hr class="small">
                        {% endif %}
                        <span class="subheading">{{ settings.subtitle }}</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}