{% extends sonata_block.templates.block_base %}

{% block block %}
    <header class="intro-header" style="background-image: url({{ settings.image }})">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="post-heading">
                        <h1>{{ block.translate(app.request.locale).translatableFields.title }}</h1>
                        {% if block.translate(app.request.locale).translatableFields.subtitle|length > 0 %}
                            <hr class="small">
                        {% endif %}
                        <h2 class="subheading">{{ block.translate(app.request.locale).translatableFields.subtitle }}</h2>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}