{% extends sonata_block.templates.block_base %}

{% block block %}
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        {{ block.translate(app.request.locale).translatableFields.content|raw }}
    </div>
{% endblock %}