{% extends sonata_block.templates.block_base %}

{% block block %}
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <h2>{{ block.translate(app.request.locale).translatableFields.subheader }}</h2>
    </div>
{% endblock %}