{% extends sonata_block.templates.block_base %}

{% block block %}
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 text-right">
        {% for tagCollection in block.tagCollection %}
            <span class="label label-info">{{ tagCollection.tag.translate(app.request.locale).name }}</span>
        {% endfor %}
    </div>
{% endblock %}